#header{
	width:800px;
	text-align:center;
	background-color:#000;
	border-top:1px solid #FFF;
}

#header img{
	border-top:3px solid #FFF;
	border-bottom:3px solid #FFF;
}


#nav{
	padding:10px 0px;
	text-align:center;
	background-color:#000;
	margin-top:20px;
	width:800px;
}

#nav a{
	color:#FFF;
	font-size:.9em;
	padding:5px;
	text-decoration:none;
}

#nav a:hover{
	color:#C71585;
}

#page-wrapper{
	width:800px;
	margin-left:auto;
	margin-right:auto;
	background-color:#87CEFA;
	font-size:medium;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
}

#sidebar{
	float:right;
	width:300px;
	margin:15px;
}

#sidebar img{
	border: 2px solid #000;
}

#header h1{
	color:#FFF;
}

h4{
	font-style:italic;
	text-decoration:underline;
}


#page-content{
	background-color:#000;
	color:#FFF;
	padding:20px;
}
#page-content h2{
	font-size:1.7em;
	font-weight:100;
	text-align:center;
}

.sub-section{
	width:600px;
	display:block;
	margin:auto;
	margin-bottom:20px;
}

.sub-section img{
	width:450px;
	display:block;
	margin:auto;
	border:3px dashed #FFF;
}
	

.sub-header{
	color:#87CEFA;
	font-size:1.5em;
	font-style:italic;
	text-align:center;
}

#page-content a{
	color:#C71585;
	text-decoration:underline;
}

#page-content a:hover{
	color:#87CEFA;
}

#footer{
	clear:right;
}

#footer p{
	font-size:.5em;
	font-style:italic;
	float:right;
	color:#000;
}

#footer a{
	color:#000;
}

#footer a:hover{
	color:#C71585;
}